body {
    background-color: black;
    color: white;
}

a:link {
    color: #f8dbff;
}

a:visited {
    color: #f8dbff;
}

a:hover {
    color: #e3b3ff;
}

h1 {
    color:#eda6ff;
}

h3 {
    color:#eda6ff;
}
