body
{
    background-color:black;
    color:white;
}

a:link {
    color: #f8dbff;
    text-decoration: none;
}

a:visited {
    color: #f8dbff;
    text-decoration: none;
}

a:hover {
    color: #e3b3ff;
    text-decoration: underline;
}
